<footer>
  <div class="f-info" style="text-decoration: none">
    <div class="f-info-socials">
      <a href="https://github.com/mihirkate">
        <i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://twitter.com/KateMihir26"
        ><i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.facebook.com/mihir.kate.26">
        <i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/mihirkate">
        <i class="fa-brands fa-linkedin" href=""></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; wanderlust private limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy </a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
