<% layout("/layouts/boilerplate")%>
<body>
  <h1>Welcome to the Website of Wanderlust</h1>
  <span> True search for your destinations.!!! </span>
  <a class="navbar-brand" href="/listings"
    ><i class="fa-solid fa-compass"></i>See all Listings
  </a>
</body>
