<style>
  .index_page_main_div {
    min-height: 100vh;
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  /* Adjustments for listing cards */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjusted for spacing around items */
  }

  .listing-card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    flex: 0 0 calc(33.333% - 20px);
    /* Adjusts card width for 3 per row, accounting for margin */
    box-sizing: border-box;
  }

  .listing-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 1220px) {
    .index_page_main_div {
      max-width: 1000px;
    }
  }

  @media (max-width: 375px) {
    .particular_listing_div {
      width: 300px;
    }
  }
</style>

<% layout("/layouts/boilerplate")%>
<div>
  <!-- Row cards -->
  <div class="index_page_main_div">
    <%for(let listing of allListings ){%>
    <a class="listing-links" href="/listings/<%=listing._id%>">
      <div class="card listing-card" style="width: 20rem">
        <img
          class="card-img-top"
          src="<%= listing.image.url %>"
          alt="listing-Image-notfound"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text">
            <b> <%= listing.title %> </b>
            <br />
            &#8377; <%=listing.price %> /night
            <i class="tax-info">&nbsp;&nbsp;+18% +GST</i>
            <br />
          </p>
        </div>
      </div>
    </a>
    <% }%>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</div>
