h1 {
  color: black;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
  width: 100%;
}
.listings {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 20px;
}
.singleListing {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 20px;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: red;
  font-size: 3rem;
}
.nav-link {
  color: #222222 !important;
  font-size: 1.3rem;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
}

.f-info-socials i {
  margin: 1rem;
  font-size: 2rem;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/*============================Cards===================================*/
.card {
  border: none !important;
  margin-right: 1rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-links {
  text-decoration: none;
}
/* ========================Hovring effect =============================== */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.3;
  background: white;
}
/* ========================New.ejs =============================== */

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* ========================Edit.ejs =============================== */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* ========================Show.ejs =============================== */
.show-img {
  height: 30vh;
  object-fit: cover !important;
}

/* Maps */

#map {
  height: 600px;
  width: 600px;
}
